.header {
  display: flex;
  position: sticky;
  top: 0%;
  text-align: center;
  font-size: 22px;
  z-index: 10;
  justify-content: center;
  align-items: center;
}

.root {
  color: white;
  background-color: #fc773f;
}

.header__text {
  text-align: center;
  margin-top: 8px;
  font-size: 18px;
  font-weight: 700;
}
ul {
  list-style-type: none;
  padding: 9px;
  flex-wrap: wrap;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  margin: 4px;
  padding: 4px;
  align-items: center;
  justify-content: center;
}

.grid-container li {
  box-shadow: 1px 1px 1px 1px lightgrey;
  width: 130px;
  margin: 10px;
}

.grid-container li img {
  height: 150px;
  width: 100%;
}
.grid-container li span {
  font-weight: 700;
  text-align: center;
  color: #454545;
  font-size: 14px;
}

.live-button {
  border: 1px solid white;
  width: 100px;
  height: 30px;
  margin: 8px;
  font-weight: 800;
  animation: blinker 1.3s linear infinite;
}

footer {
  text-align: center;
  height: 30px;
}
footer a {
  color: white;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
